/***************************************************************************/

/* Border with SURA logo */

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#sura-logo-box {
    width: 5.5em;
    height: 5.5em;
    background-color: white;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#sura-logo {
    width: 5em;
    display: block;
    margin: auto;
    padding-top: 0.15em;
}

.line {
    background-color: white;
    height:3px;
    width:35vw;
    flex-shrink: 1;
}


/* Curved Forground Layer */

#curved-foreground {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

#curved-foreground:before {
    content: "";
    /* display: block; */
    width: 200%;
    height: 300%;
    position: absolute;
    border-radius: 50% 30%;
    bottom: 0;
    left: 0;
    box-shadow: -50vh 10vh 0 0 darkred;
    /* box-shadow: -50vh 10vh 0 0 #c50000; */
    z-index: 0;
}


/***************************************************************************/
/* Content Area */
/***************************************************************************/


/***************************************************************************/

/* Articles */

main {
    display: flex;
    flex-direction: column;
}

.pre-article {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: var(--neutral-color-700);
    position: relative;
}

#first-article {
    background-color: rgb(115, 0, 0);
    /* background-color: #c50000; */
    padding-top: 1em;
    /* padding-bottom: 1em; */
}

.odd-article {
    background-color: #3a4750;
    color: white;
    /* background-color: rgba(255, 40, 40, 0.733); */
}

.even-article {
    /* background-color: #f6e1e1; */
    background-color: rgba(240, 248, 255, 0.89);
}

.article {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: larger;
    max-width: 80vw;
    background-color: var(--tertiary-color-light);
    background-repeat: no-repeat;
    background-size: cover;

    /* To anchor delete button */
    position: relative;
}

.article-title {
    margin-bottom: 0.5em;
    font-size: 3em;
}

.article-subheading {
    margin-bottom: 0.5em;
}

.article-body {
    display: flex;
}

.section {
    display: flex;
    flex-direction: column;
    flex: 1;
    /* border: 1px solid black; */
}



.has-background-vertical {
    background-color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    box-shadow: var(--large-shadow);
    height: 100%
}

.has-background-horizontal {
    background-color: var(--tertiary-color);
    flex-grow: 1;
    display: flex;
    border-radius: 3px;
    box-shadow: var(--large-shadow);
}

.has-no-background {
    flex-grow: 1;
}

.text-container {
    flex-grow: 1;
    margin: 1em;
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.image-container {
    margin: 1em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .image-container > img */

.image {
    /* max-width: 100%; */
    /* height: auto;
    width: 25em; */
    width: 100%;
    border-radius: 3px;
    /* flex-grow: 1; */
    box-shadow: var(--shadow);
}

.image-container > input, .member-photo-container > input {
    display: none;
}

.img-url {
    display: none;
}

.member-photo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}


/***************************************************************************/
/* Template Specific Styles */
/***************************************************************************/

/* Ratio between image container and text container */

@media screen and (min-width: 1401px) {
    .template-2 .image-container,
    .template-3 .image-container,
    .template-4 .image-container,
    .template-5 .image-container {
        flex: 1;
    }
    
    .template-2 .text-container,
    .template-3 .text-container,
    .template-4 .text-container,
    .template-5 .text-container {
        flex: 3;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
    .template-2 .image-container,
    .template-3 .image-container,
    .template-4 .image-container,
    .template-5 .image-container {
        flex: 1;
    }
    
    .template-2 .text-container,
    .template-3 .text-container,
    .template-4 .text-container,
    .template-5 .text-container {
        flex: 2;
    }
}

@media screen and (max-width: 1200px) {
    .template-2 .image-container,
    .template-3 .image-container,
    .template-4 .image-container,
    .template-5 .image-container {
        flex: 1;
    }
    
    .template-2 .text-container,
    .template-3 .text-container,
    .template-4 .text-container,
    .template-5 .text-container {
        flex: 1;
    }
}


/***************************************************************************/

/* Rearrange image and text when viewport change */

/* The first one is for iPad Pro specifically, so I am using a custom breakpoint of 1100px. */
@media screen and (min-width: 993px) and (max-width: 1100px) {
    .template-2 .article-body,
    .template-4 .has-background-horizontal {
        flex-direction: column-reverse;
    }
    .template-3 .article-body,
    .template-5 .has-background-horizontal,
    .template-6 .article-body,
    .template-7 .article-body,
    .template-8 .article-body,
    .template-9 .article-body {
        flex-direction: column;
    }

    .template-7 .has-background-vertical {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 768px) {
    .template-2 .article-body,
    .template-4 .has-background-horizontal {
        flex-direction: column-reverse;
    }
    .template-3 .article-body,
    .template-5 .has-background-horizontal,
    .template-6 .article-body,
    .template-7 .article-body,
    .template-8 .article-body,
    .template-9 .article-body {
        flex-direction: column;
    }

    .template-7 .has-background-vertical {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 2em;
    }
}


/***************************************************************************/

/* Make text start from the top of article and not the middle */

.template-6 .article-body,
.template-8 .article-body {
    align-items: flex-start;
}

.template-7 .text-container,
.template-9 .text-container {
    justify-content: flex-start;
}


/***************************************************************************/

/* Fix image height for double section articles */

.template-6 .image,
.template-7 .image,
.template-8 .image,
.template-9 .image {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Think landscape so that width becomes height */
@media screen and (max-height: 576px) {
    .template-6 .image-container,
    .template-7 .image-container,
    .template-8 .image-container,
    .template-9 .image-container {
        height: 192;
    }
}

@media screen and (min-height: 577px) and (max-height: 768px) {
    .template-6 .image-container,
    .template-7 .image-container,
    .template-8 .image-container,
    .template-9 .image-container {
        height: 256;
    }
}

@media screen and (min-height: 769px) and (max-height: 992px) {
    .template-6 .image-container,
    .template-7 .image-container,
    .template-8 .image-container,
    .template-9 .image-container {
        height: 330px;
    }
}

@media screen and (min-height: 993px) and (max-height: 1200px) {
    .template-6 .image-container,
    .template-7 .image-container,
    .template-8 .image-container,
    .template-9 .image-container {
        height: 400px;
    }
}

@media screen and (min-height: 1201px) and (max-height: 1400px) {
    .template-6 .image-container,
    .template-7 .image-container,
    .template-8 .image-container,
    .template-9 .image-container {
        height: 466px;
    }
}

@media screen and (min-height: 1401px) {
    .template-6 .image-container,
    .template-7 .image-container,
    .template-8 .image-container,
    .template-9 .image-container {
        height: 540px;
    }
}


/***************************************************************************/

/* Template 6 and 7 Margins */

.template-6 .section, .template-7 .has-background-vertical {
    margin-left: 1em;
    margin-right: 1em;
}

/***************************************************************************/

/* Template 10 Text and Image background */

.template-10 .article-body {
    align-items: center;
    justify-content: flex-end;
}

.text-card {
    width: 30vw;
    position: absolute;
    left: 10vw;
    z-index: 1;
    background-color: var(--tertiary-color);
    box-shadow: var(--large-shadow);
    padding: 2em;
}

.image-card {
    width: 45vw;
    height: 40vw;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow);
    overflow: hidden;
    border-radius: 3px;
}

.image-card .image {
    object-fit: cover;
}


/***************************************************************************/

/* Template 11 Members */

.template-11 {
    display: flex;
    flex-direction: column;
}

.template-11 .article-subheading {
    text-align: center;
}


/***************************************************************************/

/* Template 12 Slides */

.sticky-notes {
    display: flex;
    flex-wrap: wrap;
}

/***************************************************************************/

/* Template 13 Slides */

/* Slides */


.slide_components_container {
    position: relative;
    width: 100%;
    height: 500px;

    overflow: hidden;
    border-radius: 10px;
    /* box-shadow: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07); */

    box-shadow: var(--very-large-shadow);
}






/* Buttons */

.buttons_container {
    padding-top: 5vh;
    width: 12.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#button_left, #button_right {
    border: none;
    /* background-color: rgba(255, 255, 255, 0.493); */
    border-radius: 100%;

    position: sticky;
    /* top: 50vh; */
}

#button_right:hover, #button_left:hover {
    /* background-color: rgba(255, 255, 255, 0.863); */
    /* background-size: 6em;
    height: 6em;
    width: 6em;
    top: calc(50vh - 0.5em); */
}








/***************************************************************************/

/* Editable Text Boxes */

textarea {
    font-family: "Nunito", sans-serif;
    font-size: large;
    height: 10em;
}

textarea.article-text {
    background-color: transparent;
    border: none;
}


/***************************************************************************/

/* Responsive Design */

