/***************************************************************************/

/* Basic Layout */

/* body {
    display:flex;
} */

/* #control-panel {
    background-color: white;
    width: 20vw;
} */

/* #preview-area {
    display: flex;
    flex-direction: column;
    align-items: center;
} */




/***************************************************************************/

/* Left Pane */
/* 
#control-panel {
    display: flex;
    flex-direction: column;
}

#control-panel > * {
    position: fixed;
}

#section-form {
    width: 20vw;
    height: 100vh;

    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.button-set {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}



#font-size {
    width: 3em;
    font-size: small;
} */



/***************************************************************************/

/* Template attributes dependent on view port. */

/* Scale vw from 100 to 80 */

/* #page-title {
    width: 80vw;
    height: 100vh;
}

#empty-space {
    height: 100vh;
    width: 80vw;
}

header {
    width: 80vw;
}

.line {
    width:28vw;
}

article {
    width: 60vw;
}

.add-image {
    width: 16vw;
    height: 16vw;
}

footer {
    width: 80vw;
} */


/***************************************************************************/

/* Right Pane */



/***************************************************************************/

/* Add Link Dialog */




