/***************************************************************************/
/* This is the style for the website */
/***************************************************************************/



/***************************************************************************/
/* Foundation */
/***************************************************************************/

/* Whole Docment */

.invisible {
    visibility: hidden!important;
}

:root {
    font-family: "Nunito", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: #89bae6;
    text-decoration: none;
}

a:hover {
    color: #bee1ff;
    text-decoration: underline;
}

#hidden {
    display: none;
}

button {
    font-family: "Nunito", sans-serif;
}

.hidden {
    display: none;
}

/***************************************************************************/

/* Google Icons */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/***************************************************************************/

/* Background layer */

body {
    /* background-image:  linear-gradient(rgba(39, 39, 39, 0.313), rgba(39, 39, 39, 0.313)), url(/images/default-page/Hello%2520World.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* For footer and the new section button above footer to show up properly */
    display:flex;
    flex-direction: column;
    align-items: center;
}

#page-background-video {
    display: flex;
    visibility: visible;

    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 

    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;

    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.bg-button-container-wrapper {
    z-index: 1;
    border-radius: 12px;
    border:rgb(235, 235, 235) solid 10px;
    background-color: #000;
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.bg-button-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: calc(12px - 10px);
    padding: 1.5em;
}

.bg-button-container > * {
    box-sizing: border-box;
    height: 2.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-top:0.25em;
    padding-bottom:0.25em;
}

.bg-button-container button {
    cursor: pointer;
}

.bg-img-input, .bg-vid-input {
    display: none;
}

.bg-color-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-bg-img, .add-bg-vid {
    background-color: rgb(64, 141, 224);
    color: white;
    border: none;
    font-size: medium;
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    border-radius: 0.2em;
}

.bg-button-text {
    width: 9em;
}

.add-bg-img span, .add-bg-vid span {
    display: flex;
    align-items: center;
}

.add-bg-img:hover, .add-bg-vid:hover {
    background-color: rgb(30, 124, 207);
}

.bg-color-label {
    width: 7.5em;
}


/***************************************************************************/

/* Page Title */

#page-title {
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 10em;
    text-align: center;
}

#background-container {
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

/***************************************************************************/

/* One Viewport worth of Empty Space */

#empty-space {
    height: 100vh;
    width: 100vw;
}

/***************************************************************************/

/* Border with SURA logo */

.border {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

#sura-logo-box {
    width: 5.5em;
    height: 5.5em;
    background-color: white;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

#sura-logo {
    width: 5em;
    display: block;
    margin: auto;
    padding-top: 0.15em;
}

.line {
    background-color: white;
    height:3px;
    width:35vw;
    flex-shrink: 1;
}

/***************************************************************************/
/* Navigaiton Bars */
/***************************************************************************/

/* Header Bar */

body {
    margin: 0px;
}




/***************************************************************************/

/* Navigation Links */

header {
    width: 100vw;
}



/***************************************************************************/
/* Content Area */
/***************************************************************************/

/* Articles */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pre-article {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(240, 248, 255);
}

#first-article {
    background-color: rgb(115, 0, 0);
    /* background-color: #c50000; */
    padding-top: 1em;
    /* padding-bottom: 1em; */
}

.odd-article {
    background-color: #3a4750;
    color: white;
    /* background-color: rgba(255, 40, 40, 0.733); */
}

.even-article {
    /* background-color: #f6e1e1; */
    background-color: rgba(240, 248, 255, 0.89);
}

article {
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 3em;
    padding-bottom: 3em;
    font-size: larger;
    width: 80vw;
    background-color: white;

    /* To anchor delete button */
    position: relative;
}

.article-title {
    margin-bottom: 0.5em;
    font-size: 3em;
}

.article-body {
    display: flex;
}

.section {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* border: 1px solid black; */
}

.has-background-vertical {
    background-color: rgba(0, 0, 0, 0.342);
    display: flex;
    flex-direction: column;
}

.has-background-horizontal {
    background-color: rgba(0, 0, 0, 0.342);
    flex-grow: 1;
    display: flex;
}

.has-no-background {
    flex-grow: 1;
}

.text-container {
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-container {
    margin: 1em;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .image-container > img */

.image {
    max-width: 100%;
    height: auto;
    width: 25em;
    border-radius: 1em;
    flex-grow: 1;
}

.image-container > input {
    display: none;
}

.img-url {
    display: none;
}

.button-link {
    margin: 1em;
    width: fit-content;
    height:fit-content;
    /* border-radius: 1em; */
    border: none;
    display: flex;
    flex-direction: column;
}

.button-link a:hover {
    text-decoration: none;
}

.link-button {
    font-size: large;
    border: none;
    background-color: rgb(77, 123, 221);
    color:white;
    display: flex;
}

.link-button:hover {
    background-color: rgb(86, 131, 226);
}

.link-button a {
    flex-grow: 1;
    display: block;
    padding: 0.5rem;
    color: white;
}


/***************************************************************************/

/* Template Specific Styles */

.template-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.template-11 .article-subheading {
    text-align: center;
}

/* .template-4 .article-body {
    flex-direction: column;
    margin:0px;
}

.template-5 .article-body {
    flex-direction: column;
    margin: 0px;
} */

/* .template-5 .has-background-vertical {
    margin: 0px;
} */

.template-7 .has-background-vertical {
    margin-left: 1em;
    margin-right: 1em;
}

.template-6 .section {
    margin-left: 1em;
    margin-right: 1em;
}

.template-10 .article-body {
    align-items: center;
    justify-content: flex-end;
    border: 2px blue solid;
}

.text-card {
    width: 30vw;
    border: 2px black solid;
    position: absolute;
    left: 10vw;
    z-index: 1;
    background-color: rgb(241, 241, 241);
}

.image-card {
    width: 45vw;
    border: 2px black solid;
    height: 40vw;
    background-color: rgb(115, 204, 255);
    display: flex;
    align-items: center;
}

/***************************************************************************/
/* Footer */
/***************************************************************************/

footer {
    height: 3em;
    width: 100vw;
    background-color: darkred;
    /* background-color: #3a4750; */
    color: white;
    text-align: center;
    padding-top:3em;

    /* To anchor delete button */
    position: relative;

}

/***************************************************************************/
/* Admin/Member Features */
/***************************************************************************/

/* Master Buttons */

#expand, #collapse {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    position: fixed;
    bottom:2em;
    right: 2em;
    border: none;
    z-index: 4;
}

#expand {
    background-color:#ebebebb4;
    border: rgba(0, 0, 0, 0.26) 1px solid;
    color: rgba(0, 0, 0, 0.26);
}

#expand:hover {
    color: black;
    border: none;
    cursor: pointer;
}

#collapse {
    background-color: rgb(45, 45, 45);
    color: rgba(255, 255, 255, 0.3);
    border: rgba(255, 255, 255, 0.3) 1px solid;
}

#collapse:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border: none;
}

#admin-controls {
    flex-direction: column;
    position: fixed;
    z-index: 4;
    background-color:#000000b4;
    bottom: 3em;
    right: 3em;
    width: 15rem;
}

#admin-controls button {
    /* border-radius: 1.5em; */
    border: none;
    background-color: transparent;
    /* width: fit-content(10em); */
    /* padding: 0.5em;
    height: 2.5em; */
    font-size: medium;
    margin: 1.3em;
    cursor: pointer;
    align-items: center;
    display: flex;
    color: rgba(255, 255, 255, 0.3);
}

#admin-controls button:hover {
    color: rgba(255, 255, 255, 1);
}

#admin-controls button * {
    margin-right: 0.5em;
}


/********************************************************************************/

/* Dialog Boxes */

.dialog-box-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    /* visibility: hidden; */
    background-color: rgb(0, 0, 0); /* fallback color */
    background-color: rgba(0, 0, 0, 0.4);
}

#make-new-page-dialog {
    display: flex;
    flex-direction: column;
}

#make-new-page-dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 15em;
    height: 5em; */
    background-color: white;
    padding: 1rem;
    border: black solid 1px;
}

.content {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.sura-modal-header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.cancel {
    color: #aaaaaa;
    position: absolute;
    top: -1rem;
    right: -1rem;
    float: right;
    font-size: 28px;
    font-weight: bold;

    border: none;
    background-color: transparent;
    margin-right: 0.5rem;
}

.cancel:hover,
.cancel:focus {
  color: #000;
  cursor: pointer;
}

.create-new-page, .save {
    width: fit-content;
    padding: 0em 1em;
    height: 3em;
}

/* .adjacent-buttons {
    display: flex;
    justify-content: flex-end;
} */

#webpage-id {
    font-size: medium;
    height: 1.5em;
}


#add-navlink-dialog {
    background-color: white;
    border: black solid 2px;
    padding: 1em;
    text-align: center;
}

.sura-modal {
    background-color: white;
    border: black solid 2px;
    padding: 1em;
    text-align: center;
}

.sura-modal-body, #add-navlink-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
}

.sura-modal-footer, #add-navlink-buttons {
    display: flex;
    /* justify-content: flex-end; */
    justify-content: center;
}

.add-link-table td {
    text-align: start;
}

.add-link-table input {
    height: 1.5em;
    font-size: medium;
    padding: 0px 0.5em;
}


/***************************************************************************/

/* Template Menu */

.popup-menu {
    width: 80vw;
    height: 80vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-menu h2 {
    padding: 0.5em;
}

#templates {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#templates li button {
    height: 20vw;
    width: 34vw;
    margin: 2vw;
}

/********************************************************************************/

/* Navbar Controls */

#edit-nav-dialog {
    text-align: center;
    background-color: white;
    border: black solid 1px;
    padding: 1em;
}

.nav-control-panel {
    display:flex;
    flex-direction: column;
    padding: 1em;
    /* width: 40vw; */
    width: 40rem;
    /* border: black solid 1px; */
    justify-content: center;
    /* Uncomment the code below if the table is too wide in the nav dialog box. */
    /* align-items: center; */
}

.nav-control-panel h3 {
    font-size: 1.3em;
}

.nav-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-control > * {
    padding: 1em;
}

#secondary-nav-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

#secondary-nav-control > * {
    padding: 1em;
}

.nav-list {
    display: flex;
    flex-direction: column;
}

.nav-list label {
    font-size: large;
}

.nav-include-exclude {
    display:flex;
    flex-direction: column;
}

.excluded-links, .included-links {
    width: 15em;
}

.excluded-links option, .included-links option {
    font-size: medium;
    height: 1.5em;
    text-align: center;
}

#secondary-nav-control-panel {
    display: none;
}

.nav-display-list input, #primary-nav-display-list input, #secondary-nav-display-list input {
    height: 1.5em;
    font-size: 0.9em;
    text-align: center;
}

.nav-display-list caption, #primary-nav-display-list caption, #secondary-nav-display-list caption {
    font-size: large;
    margin-bottom: 1em;
    margin-top: 1em;
}


/***************************************************************************/

/* More Admin Buttons */

#save-cancel {
    position: fixed;
    z-index: 4;
    right: 3em;
    bottom: 3em;
    flex-direction: column;
    background-color:#000000b4;
    width: 15rem;
}

#save-cancel button {
    /* border-radius: 100%; */
    border: none;
    background-color: transparent;
    /* width: 4em;
    height: 4em; */
    margin: 1em;
    display: flex;
    align-items: center;
    font-size: medium;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.3);
}

#save-cancel button:hover {
    color: rgba(255, 255, 255, 1);
}

#save-cancel button * {
    margin-right: 0.5em;
}

.new-section {
    transform: translateY(0.85em);
    font-size: 1.1em;
    width: 8em;
    height: 1.7em;
    border-radius: 0.8em;
    background-color: rgb(62, 126, 185);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: -1.7em;
    z-index: 1;
}

.new-section:hover {
    background-color: rgb(73, 135, 194);
}

.modify-section {
    position: absolute;
    top: 1em;
    right: 1em;
    display: flex;
    flex-direction: column;
}

.modify-section button {
    border: none;
    background-color: transparent;
}

.modify-section button:hover {
    cursor: pointer;
}

.add-image {
    flex-grow: 1;
    width: 20vw;
    height: 20vw;
    border: none;
    background-color: transparent;
    transform: scale(1.05);
}

.add-image img {
    width: 20vw;
    border-radius: 1em;
}

.add-image img:hover {
    cursor: pointer;
}

.delete-img-button {
    margin-top: 1em;
    padding: 0.5em;
    font-size: medium;
}

.add-link {
    margin: 1em;
    font-size: large;
    width: fit-content;
    height:fit-content;
    min-width: 5rem;
    padding: 0.5rem;
    /* border-radius: 1em; */
    border: none;
    background-color: rgb(77, 123, 221);
    color:white;
    /* display: none; */
    cursor: pointer;
}

.add-link:hover {
    background-color: rgb(86, 131, 226);
}

.delete-link-button {
    border: none;
    font-size:medium;
    background-color: rgb(226, 0, 0);
    color: white;
    text-align: center;
}

.delete-link-button:hover {
    background-color: red;
}

/* .new-section > button:hover {
    transform: scale(1.05);
} */

/***************************************************************************/

/* Editable Text Boxes */


textarea {
    font-family: "Nunito", sans-serif;
    font-size: large;
}











.member-photo {
    border-radius: 50%;
    width: 15em;
    height: 15em;
    object-fit: cover;
}

.team-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
}

.team-sub-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display-area {
    display: flex;
    width: 100vw;
}

.main-content {
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0em;
}

.main-content article {
    width: calc(80vw - 20rem);
}





/* Obsolete stuff */

#team-section {
    background-color: #55171c;
    display: flex;
    flex-direction: column;
    width: 100vw;
    padding-top: 1.5rem;
}

#team-section h2, #team-section h3, #team-section p {
    color: white;
}

#team-section h2 {
    font-size: 3em;
}



.section-menu {
    position: fixed;
    top: 0px;
    right: 0px;
}