/***************************************************************************/
/* This is the style for the website */
/***************************************************************************/

/* Color Scheme */

:root {
    --primary-color: #b71c1c;
    --primary-color-light: #f05545;
    --primary-color-dark: #9a0007;
    --primary-color-darker: darkred;

    --secondary-color: #4b5563;
    --secondary-color-light: #778191;
    --secondary-color-dark: #222c39;

    --tertiary-color: #c5cae9;
    --tertiary-color-light: #f8fdff;
    --tertiary-color-dark: #9499b7;

    --neutral-color-50: #F9FAFB;
    --neutral-color-100: #F3F4F6;
    --neutral-color-200: #E5E7EB;
    --neutral-color-300: #D1D5DB;
    --neutral-color-400: #9CA3AF;
    --neutral-color-500: #6B7280;
    --neutral-color-600: #4B5563;
    --neutral-color-700: #374151;
    --neutral-color-800: #1F2937;
    --neutral-color-900: #111827;

    --primary-text-color: #ffffff;
    --primary-text-color-light: #000000;
    --primary-text-color-dark: #ffffff;

    --secondary-text-color: #ffffffa2;
    --secondary-text-color-light: #000000;
    --secondary-text-color-dark: #ffffff;

    --tertiary-text-color: #37474f;
    --tertiary-text-color-light: #000000;
    --tertiary-text-color-dark: #455a64;

    --delete-button-color-2: #e20000;
    --delete-button-color-dark-2: #a70000;
    --delete-button-color: #ff9389;
    --delete-button-color-dark: #FF605C;
    --delete-button-text-color-2: white;
    --delete-button-text-color-dark-2: white;
    --delete-button-text-color: black;
    --delete-button-text-color-dark: black;
    --button-color: #c5cae9;
    --button-color-dark: #9499b7;
    --button-text-color: black;
    --button-text-color-dark: black;

    /* --color-loader-background: #eaecfa;
    --color-loader: #ce4233; */

    --color-loader-background: var(--tertiary-color-light);
    --color-loader: var(--primary-color);
}


/***************************************************************************/

/* Box Shadows */

/* For images */
/* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */

/* box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; */

/* For horizontal and vertical image card */
/* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */



:root {
    --very-large-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; /* dialog boxes */
    --large-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; /* text and image container with background color | Slides */
    --shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; /* images */
    --small-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px; /* buttons */
}

/***************************************************************************/

/* Screen Breakpoints (Responsive Design) */

/* CSS Pixels (width x height for portrait mode)
Mobile
    iPhone 12 Pro: 390 x 844
    iPhone XR: 414 x 896
    iPhone SE: 375 x 667
    Galaxy Fold: 280 x 653
    Galaxy A51/71: 412 x 914
    Galaxy S8+: 360 x 740
    Galaxy S20 Ultra: 412 x 915
    Pixel 5: 393 x 851
Tablet
    iPad Pro: 1024 x 1366
    iPad & iPad mini: 768 x 1024
    iPad Air: 820 x 1180
Laptop
    Surface Pro 7: 912 x 1368
*/

/* Breakpoint guide (width)
    320px — 576px: Mobile devices
    577px — 768px: iPads, Tablets
    769px - 992px: Small screens, laptops
    993px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
*/

/* These currently cannot be used as a variable in media queries but the feature will come in the future. Right now, I have hardcoded the values below into the media queries. */
:root {
    --breakpoint-min-mobile: 0px;
    --breakpoint-max-mobile: 576px;
    --breakpoint-min-tablet: 577px;
    --breakpoint-max-tablet: 768px;
    --breakpoint-min-laptop: 769px;
    --breakpoint-max-laptop: 992px;
    --breakpoint-min-desktop: 993px;
    --breakpoint-max-desktop: 1200px;
    --breakpoint-min-tv: 1201px;
    --breakpoint-max-tv: 1400px;
    --breakpoint-min-huge-monitor: 1401px;
}

/* iPad Pro, laptops, and desktops */
@media screen and (min-width: 769px) {
    .title-bar {
        display: none;
    }
    .primary-navbar-container {
        display: flex;
    }
    .nav-panel-button {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .display-area {
        flex-direction: column;
    }
}

/* mobile phones and tablets */
@media screen and (max-width: 768px) {
    .title-bar {
        display: flex;
    }
    .primary-navbar-container {
        display: none;
    }
    .nav-panel-button {
        display: flex;
    }
}





/***************************************************************************/
/* Foundation */
/***************************************************************************/

/* Whole Docment */

.invisible {
    visibility: hidden!important;
}

:root {
    font-family: "Nunito", sans-serif;
}

/* Removes scrolling over the edge of body when scrolling to the top or the bottom edge of the page. */
/* It did not look well with some background colors so I decided to elimiinate this behaviour. */
body {
    overscroll-behavior-y: none;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: #89bae6;
    text-decoration: none;
}

a:hover {
    color: #bee1ff;
    text-decoration: none;
}

#hidden {
    display: none;
}

button {
    font-family: "Nunito", sans-serif;
}

.hidden {
    display: none;
}

/* Preloader */

body {
    overflow-x: hidden;
}


/***************************************************************************/

/* Google Icons */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


/***************************************************************************/
/* Footer */
/***************************************************************************/

footer {
    width: 100vw;
    background-color: var(--primary-color-dark);
    /* background-color: #3a4750; */
    color: white;
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;

    /* To anchor delete button */
    position: relative;

}
