.article-bg-button-container-wrapper {
    position: absolute;
    top: 5rem;
    right: 1rem;
    background-color: var(--tertiary-color);
}

.article-bg-button-container {
    display: flex;
    flex-direction: column;
    background-color: var(--tertiary-color-light);
    border-radius: calc(12px - 10px);
    padding: 1.5em;
    box-shadow: var(--large-shadow);
}

.article-bg-color-container {
    display: flex;
}

.add-article-bg-img {
    display: flex;
    cursor: pointer;

    background-color: var(--tertiary-color);
    color: var(--tertiary-text-color);
    border: none;
    font-size: medium;
    text-align: left;
    padding-left: 0.5em;
    padding-right: 0.5em;
    align-items: center;
    border-radius: 0.2em;
    box-shadow: var(--small-shadow);
}

.article-bg-button-text {
    cursor: pointer;
    width: 12em;
}

.add-article-bg-img span {
    display: flex;
    align-items: center;
}

.article-bg-button-container > * {
    box-sizing: border-box;
    height: 2.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.article-bg-color-label {
    width: 13em;
    font-size: medium;
}

.article-bg-color-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-bg-img-input {
    display: none;
}