/***************************************************************************/

/* Background layer */

body {
    background-image: url(/public/images/corridor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Page Title */

#page-title {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    z-index: -1;
}

#page-title > * {
    color: white;
    font-family: serif;
    font-size: 10em;
    text-align: center;
}


/* One Viewport worth of Empty Space */

#empty-space {
    height: 40vh;
    width: 100vw;
}



/***************************************************************************/

/* Curved Forground Layer */

#curved-foreground {
    width: 100vw;
    height: 60vh;
    overflow: hidden;
    position: relative;
}

#curved-foreground:before {
    content: "";
    /* display: block; */
    width: 200%;
    height: 300%;
    position: absolute;
    border-radius: 50% 30%;
    bottom: 0;
    left: 0;
    box-shadow: -50vh 10vh 0 0 darkred;
    /* box-shadow: -50vh 10vh 0 0 #c50000; */
    z-index: 0;
}



/***************************************************************************/

/* Quote */

#quote {
    display: flex;
    align-items: center;
}

.img-1 {
    margin-left: 3em;
    margin-right: 3em;
    border-radius: 30px;
}



/***************************************************************************/

/* Article 1: Happening Now! */

.important-text {
    font-size: 1.25em;
}

#happening-now {
    background-image: url(/public/images/stanford-1.jpg);
    background-blend-mode: lighten;
    background-color: rgba(240, 248, 255, 0.89);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/***************************************************************************/

/* Article 2 */

#even-article-two {
    background-image: url(/public/images/stanford-2.jpeg);
    background-blend-mode: lighten;
    background-color: rgba(240, 248, 255, 0.89);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}



/***************************************************************************/

/* Dates Section */

#dates {
    display: flex;
    flex-direction: column;
}

.need-flex {
    display: flex;

}

.date {
    margin-bottom: 3em;
}

.date-circle {
    background-color: white;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-right: 4em;
}

#vertical-line {
    border-left: 4px solid white;
    height: 11em;
    width: 2em;
    margin-left: 4em;
}

.date p {
    margin-left: 2em;
}



