/***************************************************************************/

/* Background layer */

body {
    background-image: url(/public/images/treesearch/tree-background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* Page Title */

#page-title {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    align-items: center;
    z-index: -1;
}

#page-title > * {
    color: azure;
    font-family: serif;
    font-size: 10em;
    text-align: center;
    background-color: rgba(95, 95, 95, 0.562);
    border-radius: 0.2em;
}


/* One Viewport worth of Empty Space */

#empty-space {
    height: 100vh;
    width: 100vw;
}



/***************************************************************************/

/* Slides */

#slides_interface {
    display: flex;
    background: linear-gradient(rgba(51, 51, 51, 0.336), rgba(48, 48, 48, 0.658));
}

#slides {
    display: flex;
    overflow-x: hidden;
    position: relative;
    background-color: #3a4750b0;
}

/* The sum of the width in each selector below should be equal! */
.slide img {
    width: 65vw;
    margin-left: 5vw;
    margin-right: 5vw;
}
#slides {
    width: 75vw;
}



/***************************************************************************/

/* Buttons */

.buttons_container {
    padding-top: 5vh;
    width: 12.5vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#button_left, #button_right {
    background-image: url(/public/images/treesearch/arrow.svg);
    background-size: 5em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /* put the height and width of your image here */
    height: 5em;
    width: 5em;
    border: none;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 100%;

    position: -webkit-sticky;
    position: sticky;
    top: 50vh;
}

#button_left {
    transform: rotate(180deg);
}

#button_right:hover, #button_left:hover {
    background-color: rgba(255, 255, 255, 0.863);
    background-size: 6em;
    height: 6em;
    width: 6em;
    top: calc(50vh - 0.5em);
}
